.find-in-document-container{
    background-color: #DC143C;
    box-shadow: 2px 2px 5px 2px #c53232;
    padding: 5px;
    position: fixed;
    right: 0;
    width: auto;
    z-index: 9999;
  }
  .txt-found-in-search{
    background-color: #ff0;
  }
  
  body { 
    background:#FFFFFF; 
    font-size:1.25ex; 
    font-family:arial,helvetica,freesans,sans-serif; 
    margin:5px 0px 5px 5px; 
  } 
  html>body { 
    background:#FFFFFF; 
    font:x-small arial,helvetica,freesans,sans-serif; 
    margin:5px 0px 5px 5px; 
    padding:0; 
  } 
  a { 
    text-decoration:none; 
    display:block; 
    color:#C71585; 
    font-weight:normal; 
    font-family:arial,freesans,helvetica,sans-serif; 
  } 
  * { 
    padding:0; 
    margin:0; 
  } 
  #menu { 
    width:14.2em; 
    border-top:1px solid red; 
    background-color:#ca4444; 
  position:absolute;
  font-family:verdana,arial,freesans,helvetica;	
  
  }
  #menu ul { 
    background-color:#c9c9c9; /*Cor de background*/ 
  } 
  #menu ul li { 
    border-bottom:1px solid #333333; /*Cor da borda*/ 
    list-style:none; 
  _height:2em; 
  } 
  #menu ul li a { 
    color:#000000; /*Cor do Texto*/ 
    height:1%; 
    padding:0.3em 0.5em; 
    font-family:verdana,arial,freesans,helvetica;	 
  } 
  #menu ul li a { 
    padding:0.4em 0.5em; 
  } 
  #menu ul li a:hover { 
    background-color:#666666; /*Cor de Fundo quando selecionado*/ 
    
  }  
  #menu dl { 
    margin:1em 0 0.5em 1em; 
    padding-bottom:1px; 
    font-family:arial; 
  } 
  #menu dl dd.diff { 
    background:transparent; 
    padding-left:0px; 
  } 
  #menu .rel { 
    height:1.7em; 
    padding-top:0.4em; 
  } 
  #menu .e, #menu .d { 
     display:inline;
  }
  
  div.box {
      height: 400px; 
      width: 500px;
      display: inline-block;
  }
  
  #style1 { 
    font-family: Couriernew; 
    font-size: 20px; 
    font-weight: Times New Roman; 
    color: #000000;
    text-align: center; 
  } 
  /* Mário Pina*/  